@import play.api.i18n.Messages
@import play.api.i18n.Lang
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@()(implicit request: RequestHeader, messages: Messages, lang: Lang, webJarsUtil: WebJarsUtil, assets: AssetsFinder)



<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;samp&gt;</span>This text is meant to be treated as sample output from a computer program.<span class="nt">&lt;/samp&gt;</span></code></pre></div>

<article class="single-post vertical-item post">

    <div class="item-content">

        <header class="entry-header">

            <h1 class="entry-title topmargin_0">
                Shankle doner ribeye ham hock shank
            </h1>

            <p class="entry-meta small-text inline-content">
                <span>
                    <a href="#">Classroom</a>
                </span>
                <span class="greylinks">
                    <a href="#">Emily Spencer</a>
                </span>
            </p>

        </header>
            <!-- .entry-header -->

        <div class="entry-content">

            <p>Shank doner capicola tenderloin sirloin jerky spare ribs frankfurter ground round beef corned beef. Corned beef shankle pork chop leberkas ball tip boudin. Venison pork loin pancetta, flank landjaeger doner pastrami brisket strip steak salami bresaola cow shoulder meatball jowl. Rump pork chop jowl doner beef ribs spare ribs biltong kielbasa prosciutto tri-tip cupim picanha filet mignon. Doner turkey ribeye, flank pig fatback spare ribs shank. Tail bacon ham hock, turducken bresaola flank swine shankle pastrami kevin boudin leberkas pork chop tongue short loin. Tenderloin shoulder leberkas flank.</p>

            <blockquote class="with_quote text-center">
                ouille pork belly spare ribs, leberkas ham meatball filet mignon jerky cupim frankfurter rump ball tip. Sausage tongue strip steak porchetta t-bone salami beef chicken, pork belly shank pastrami.
                <div class="item-meta">
                    <span class="highlight bold text-uppercase">Eula Parker -</span> CEO at Comp inc
                </div>
            </blockquote>

            <p>Biltong frankfurter brisket pastrami ground round kielbasa turkey cupim pig. Jowl spare ribs chicken, pork loin short ribs beef ham cow frankfurter corned beef salami filet mignon meatball pancetta. Filet mignon cow alcatra hamburger prosciutto, ground round pig t-bone drumstick turkey chicken pancetta frankfurter tri-tip. Fatback venison cupim rump.</p>
            <p>
                <img class="alignleft" alt="" src="images/side-image.jpg">
                Short loin tongue salami kevin, drumstick tenderloin pork. Picanha tri-tip sirloin, doner bacon filet mignon beef. Frankfurter pork belly leberkas, tri-tip corned beef t-bone tail. Capicola flank hamburger pork. Turducken tongue landjaeger ribeye, frankfurter ball tip flank biltong ground round strip steak prosciutto short loin pork belly beef ribs shankle.
            </p>
            <p>Pork belly porchetta short loin shankle cow pork, leberkas sirloin corned beef shoulder. Hamburger pork loin porchetta, cow beef ribs salami biltong ham frankfurter meatloaf turducken venison. Shank frankfurter ball tip porchetta jowl tongue. Jerky meatloaf andouille swine salami, strip steak pork belly porchetta pork.</p>
            <div class="inline-block">
                <ul class="list2 grey">
                    <li>Eaque blanditiis nemo</li>
                    <li>Amet, consectetur adipisicing</li>
                    <li>Blanditiis nemo quaerat</li>
                    <li>Blanditiis nemo quaerat</li>
                </ul>
            </div>
            <p>Tri-tip filet mignon ground round landjaeger, meatloaf t-bone venison hamburger pork loin pancetta sausage corned beef spare ribs short loin swine. Tail tongue corned beef turducken swine sausage prosciutto. Biltong drumstick pork chop, t-bone pancetta tail jerky beef ribs. Short ribs venison sirloin picanha leberkas cow filet mignon t-bone frankfurter shankle cupim</p>

        </div>
            <!-- .entry-content -->

    </div>
        <!-- .item-content -->

</article>


<article class="author-meta side-item content-padding with_border color2_border">

    <div class="row">

        <div class="col-md-4">
            <div class="item-media">
                <img src="@assets.path("images/team/01_square.jpg")" alt="">
            </div>
        </div>

        <div class="col-md-8">
            <div class="item-content">
                <h3 class="bottommargin_20 entry-title">Francisco Davis</h3>

                <p>Fatback sausage kielbasa drumstick frankfurter salami. Bacon turducken doner cow strip steak pork belly beef ribs rump andouille pork loin sausage pig. Pork andouille ham sausage.</p>
                <div class="greylinks">
                    <a href="#" class="social-icon soc-facebook"></a>
                    <a href="#" class="social-icon soc-twitter"></a>
                    <a href="#" class="social-icon soc-linkedin"></a>
                    <a href="#" class="social-icon soc-youtube"></a>
                </div>

            </div>
        </div>

    </div>
</article>



