@import play.api.i18n.Messages
@import play.api.i18n.Lang
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@()(implicit request: RequestHeader, messages: Messages, lang: Lang, webJarsUtil: WebJarsUtil, assets: AssetsFinder)


<div class="widget widget_categories">

    <h3 class="widget-title">Courses Navigation</h3>
    <ol class="greylinks list3 text-uppercase greylinks bold">
        <li>
            <a href="blog-right.html" title="" class="content-justify">
                Lessons Ft-o 1: Biltong meatloaf
            </a>
        </li>
        <li>
            <a href="blog-right.html" title="" class="content-justify">
                Lessons Ft-o 2: Doner shoulder venison
            </a>
        </li>
        <li>
            <a href="blog-right.html" title="" class="content-justify">
                Lessons Ft-o 3: Boudin jowl beef
            </a>
        </li>
        <li>
            <a href="blog-right.html" title="" class="content-justify">
                Lessons Ft-o 4: Pancetta strip steak
            </a>
        </li>
    </ol>
</div>


<div class="widget widget_categories">

    <h3 class="widget-title">Course Progress</h3>
    <div class="progress">
        <div class="progress-bar" role="progressbar" data-transitiongoal="50" aria-valuenow="50" style="width: 50%;">
        </div>
    </div>
</div>


<div class="entry-thumbnail item-media rounded  bottommargin_25">
    <img src="@assets.path("images/gallery/09.jpg")" alt="">
</div>



<ul class="nav" role="tablist">
    <li class="active">
        <a href="#vertical-tab1" role="tab" data-toggle="tab">At vero eos et accusam?</a>
    </li>
    <li>
        <a href="#vertical-tab2" role="tab" data-toggle="tab">Justo duo dolores et ea rebum?</a>
    </li>
    <li>
        <a href="#vertical-tab3" role="tab" data-toggle="tab">Stet clita kasd gubergren?</a>
    </li>
    <li>
        <a href="#vertical-tab4" role="tab" data-toggle="tab">No sea takimata sanctus est?</a>
    </li>
    <li>
        <a href="#vertical-tab5" role="tab" data-toggle="tab">At vero eos et accusam?</a>
    </li>
    <li>
        <a href="#vertical-tab6" role="tab" data-toggle="tab">Justo duo dolores et ea rebum?</a>
    </li>
    <li>
        <a href="#vertical-tab7" role="tab" data-toggle="tab">Stet clita kasd gubergren?</a>
    </li>
    <li>
        <a href="#vertical-tab8" role="tab" data-toggle="tab">No sea takimata sanctus est?</a>
    </li>
</ul>