@import play.api.i18n.Messages
@import play.api.i18n.Lang
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import views.html._

@()(implicit request: RequestHeader, messages: Messages, lang: Lang, webJarsUtil: WebJarsUtil, assets: AssetsFinder)


@widgets.course.summary.summary(List(
    ("Installer play framework", controllers.tutorials.routes.Scala.installPlay),
    ("Choisir une seed", controllers.tutorials.routes.Scala.installPlay),
    ("Connecter notre seed à une base de donnée", controllers.tutorials.routes.Scala.installPlay)), 0, true)




<section class="ls section_padding_top_50">
    <div class="container">
    @widgets.course.progress_bar(20.5)
    </div>
</section>

@*<section class="ls section_padding_top_50">*@
    @*<div class="container">*@
    @*@widgets.course.summary_instructions()*@
    @*</div>*@
@*</section>*@







