@import play.api.i18n.Messages
@import play.api.i18n.Lang
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@()(implicit request: RequestHeader, messages: Messages, lang: Lang, webJarsUtil: WebJarsUtil, assets: AssetsFinder)


<div class="row vertical-tabs">
    <div class="col-sm-12">

            <!-- Nav tabs -->
        <ul class="nav" role="tablist">
            <li class="">
                <a href="scala/install-play">
                    At vero eos et accusam?</a>
            </li>
            <li class="">
                <a href="scala/install-play">
                    Justo duo dolores et ea rebum?</a>
            </li>
            <li class="active">
                <a href="scala/install-play">
                    Stet clita kasd gubergren?</a>
            </li>
        </ul>

    </div>
</div>


<div class="widget widget_categories">

    <h3 class="widget-title">Course Progress</h3>
    <div class="progress">
        <div class="progress-bar" role="progressbar" data-transitiongoal="50" aria-valuenow="50" style="width: 50%;">
        </div>
    </div>
</div>

