@import play.api.i18n.Messages
@import play.api.i18n.Lang
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@import views.html._


@()(implicit request: RequestHeader, messages: Messages, lang: Lang, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@layout.layout(Messages("home.title"), None) {


    <div class="our-process">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                    <!-- Our Process Item-->
                <div class="our-process-item">
                        <!-- Icon -->
                    <a href="#" class="white bg-red"> <i class="fa fa-lightbulb-o"></i></a>
                        <!-- Arrow Image -->
                    <img src="img/our-process/arrow.png" alt="" class="img-responsive hidden-sm hidden-xs">
                        <!-- Heading -->
                    <h4>Idea</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-process-item">
                    <a href="#" class="white bg-lblue"> <i class="fa fa-desktop"></i></a>
                    <img src="img/our-process/arrow.png" alt="" class="img-responsive hidden-sm hidden-xs">
                    <h4>Prototype</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-process-item">
                    <a href="#" class="white bg-green"> <i class="fa fa-code"></i></a>
                    <img src="img/our-process/arrow.png" alt="" class="img-responsive hidden-sm hidden-xs">
                    <h4>Coding</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-process-item">
                    <a href="#" class="white bg-purple"> <i class="fa fa-check-square-o"></i>
                    </a>
                    <h4>Testing</h4>
                </div>
            </div>
        </div>
    </div>



    <section class="ls section_padding_top_100 section_padding_bottom_100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section_header big">
                        <span class="number oswald">Scala</span>

                    </h2>
                    <p><em>


                    </em></p>
                </div>
            </div>
        </div>
    </section>


}


