

.text-course{
  font-size: 17px;
  font-weight: 400;
  color: grey;



}

.text-course .light{
  color: #8c8c8c;
}

.text-course .small-highlight{
  color: #505050;
}

.text-course .highlight{
  color: #0b0b0b;
}




pre {
  padding: 0px;
  background-color: transparent;
  border: 0px solid #ccc;
}
pre code{
  border-radius: 4px;
}

pre code{

}


.course_part_title{
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.course_info{
  margin-left: 0px;
}

.course_info h2{
  margin-left: 0px;
  text-transform: none;
}

