@import play.api.i18n.Messages
@import play.api.i18n.Lang
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@()(implicit request: RequestHeader, messages: Messages, lang: Lang, webJarsUtil: WebJarsUtil, assets: AssetsFinder)
<div class="single_service text-center mr30">
    <div class="service_icon_container">
        <div class="service_icon_tablecell">
            <img src="assets/images/service_icon1.png" alt="service icon">
        </div>
    </div>
    <a href="service.html">
        <h3>Scholarship News</h3>
    </a>
    <p>Can connection strument astonished his motionless preference announcing sea ecaution unaffected difficult alterat</p>
</div>

