@import play.api.i18n.Messages
@import play.api.i18n.Lang
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@()(implicit request: RequestHeader, messages: Messages, lang: Lang, webJarsUtil: WebJarsUtil, assets: AssetsFinder)
<div class="single_course text-center mr20">
    <div class="single_course_bg single_course_bg1">
        <div class="date_round">
            <h4>22 <br>Jan</h4>
        </div>
    </div>
    <div class="course_content">
        <a href="course">
            <h3>Business and Marketing</h3>
        </a>
        <p>Can connection strument mean astonhed his motionless more reference announcing say ecaution unaffected difficult alterat</p>
        <a href="course"><i class="icofont icofont-long-arrow-right"></i></a>
    </div>
</div>



