@import play.api.i18n.Messages
@import play.api.i18n.Lang
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import enums.OS
@import play.twirl.api.Html
@import views.html._



@(instructions: List[(OS, Html)], id: String)(implicit request: RequestHeader, messages: Messages, lang: Lang, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

<ul class="nav nav-tabs" role="tablist">
    @instructions.zipWithIndex.map { case ((os, html), index) =>
    <li class="@if(index == 0) {active}">
        <a href="#@os.name-tab@id" role="tab" data-toggle="tab" aria-expanded="true">
            @*<i class="rt-icon2-heart-outline"></i>*@
            @os.name

    </a>
    </li>

    }
</ul>


<div class="tab-content ">

@instructions.zipWithIndex.map { case ((os, html), index) =>
    <div class="tab-pane fade @if(index == 0) { active  in}" id="@os.name-tab@id">
    @html
    </div>
}

</div>